.new_book_registration {
    margin: 50px 0 0 200px;
    padding: 0;
}
h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-size: 30px;
}
.title {
    width: 400px;
    height: 30px;
    border-radius : 5px;
    border : 1px solid #999999;
    margin: 15px 0;
}
.date {
    width: 400px;
    height: 30px;
    border-radius : 5px;
    border : 1px solid #999999;
    margin-bottom: 15px;
}
.stock {
    width: 400px;
    height: 30px;
    border-radius : 5px;
    border : 1px solid #999999;
    margin-bottom: 15px;
}
.submit {
    width: 200px;
    height: 30px;
    border-radius : 5px;
    text-align : center;
    background : #007fff;
    color: #ffffff;
    border : 2px solid #007fff;
}
.btn {
    height: 30px;
    width: 150px;
    border-radius : 5px;
    text-align : center;
    margin-left: 50px;
    background : #009999;
    color: #ffffff;
    border : 2px solid #009999;
}